# Node
node_modules/

# Variables de entorno
.env

# Logs
*.log
logs/

# Docker
*.pid

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars

# VS Code
.vscode/

# Linux / macOS
.DS_Store
Thumbs.db

# Cobertura de pruebas
coverage/

# Dependencias temporales
npm-debug.log*
yarn-error.log*